{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}
    <link rel = "stylesheet" href="{{ assets('/assets/css/admin.css')}}" />
{% endblock %}

{% block body %}
<h1 class="mb-5">Liste des véhicules</h1>

<table class="table table-dark text-center">
    <thead>
      <tr>
        <th scope="col">Modèle</th>
        <th scope="col">Marque</th>
        <th scope="col">Couleur</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for voiture in voitures %}
        <tr>
            <td>{{ voiture.model }}</td>
            <td>{{ voiture.marque.name }}</td>
            <td style="width: 25px; height: 25px; background: {{ voiture.couleur }};"></td>
            <td>
                <a class="text-light" style="text-decoration: none; text-transform:uppercase;" href="{{ path('car.update', {id: voiture.id}) }}">Modifier </a>|
                <a class="text-light" style="text-decoration: none; text-transform:uppercase;" href="{{ path('car.delete', {id: voiture.id}) }}">Supprimer </a>|
                <a class="text-light" style="text-decoration: none; text-transform:uppercase;" href="{{ path('car.view', {id: voiture.id}) }}">Voir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}