{% extends "admin.layout.html.twig" %}

{% block stylesheet %}

    <link rel="stylesheet" href="/assets/css/admin.css">

{% endblock %}

{% block body %}

    <h1 class="mb-4">Détails du véhicule</h1>

    <div class="card bg-dark text-light" style="width: 18rem; border:none;">
        <img class="card-img-top" src="{{ assets('/assets/img/'~voiture.imgPath) }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">{{ voiture.marque.name }} | {{ voiture.model }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-dark text-light">Modèle : {{ voiture.model }}</li>
          <li class="list-group-item bg-dark text-light">Marque : {{ voiture.marque.name }}</li>
          <li class="list-group-item bg-dark text-light">Couleur : <div style="background-color: {{ voiture.couleur }}; width:40px; height:12px; border: solid 3px white; border-radius: 2px; display:inline-block; "></div></li>
        </ul>
        <div class="card-body text-center">
            <button type="button" class="btn btn-light"><a class="nav-link" aria-current="page" href="{{ path('car.list') }}">Revenir aux
                véhicules</a></button>
        </div>
      </div>

{% endblock %}