{% extends "admin.layout.html.twig" %}

{% block stylesheet %}

    <link rel="stylesheet" href="./assets/css/car.show.css">

{% endblock %}

{% block body %}

    <h1>Détails du véhicule</h1>

    <h2>{{ voiture.marque.name }} | {{ voiture.model }}</h2>

    <div class="detailContainer">
        <div class="detailItem__group">
            <span class="detailItem__label">Modèle</span>
            <div class="detailItem__data">{{ voiture.model }}</div>
        </div>
        <div class="detailItem__group">
            <span class="detailItem__label">Marque</span>
            <div class="detailItem__data">{{ voiture.marque.name }}</div>
        </div>
        <div class="detailItem__group">
            <span class="detailItem__label">Couleur</span>
            <div class="detailItem__data">{{ voiture.couleur }}</div>
        </div>
        <div class="detailItem__group">
            <span class="detailItem__label">Image</span>
            <img style="width: 250px; height: 180px;" src="{{ assets('/assets/img/'~voiture.imgPath) }}">
        </div>
    </div>

{% endblock %}